{% extends "home-base.html"%}
{% block title %}Home Page{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-address-card-o" aria-hidden="true"></i> Welcome to My Resume Webpage</h1>
    <p>I am going to list some courses and information about those courses</p>
    <h1 class="mt-5"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Selecting Courses</h1>
    <p>Selecting courses is like going shopping, you pick a few items and hope to get everything but <br>
      may not always get what you want</p>
  </div>

{% endblock%}
